<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
        <ion-menu-toggle></ion-menu-toggle>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>VeenMe</ion-title>
    <ion-buttons slot="end" [hidden]="!showMap">
      <ion-button (click)="moreSteps()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <!-- <ion-button *ngIf="isBothDirectionsAvailable" (click)="getDirection()">
        <ion-icon name="navigate"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary" [hidden]="!showMap">
    <ion-searchbar #searchbox></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div #map id="map" [hidden]="!showMap"></div>

  <!-- <div class="pin-overlay"> -->
    <div class='pin bounce' [hidden]="showMap"></div>
    <div class='pulse' [hidden]="showMap"></div>
    <ion-button fill="outline" color="primary" class="veenBtn" [hidden]="showMap" (click)="showMap = true">VEEN NOW</ion-button>
  <!-- </div> -->


</ion-content>

