<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Veen Now</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="chatbox"></ion-icon>
        Comment
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img src="https://veenmeapi.thesupportonline.net/uploads/profile-images/default.jpeg"></ion-img>
        </ion-avatar>

        <ion-textarea class="textarea" rows="6"
          placeholder="Click here to Veen your current location and update your status"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="apps"></ion-icon>
        Category
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://dev-veenme.thesupportonline.net/assets/images/Restauraunts.png"></ion-img>
          </ion-avatar>
          <ion-text>
            Restaurants
          </ion-text>
          <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://dev-veenme.thesupportonline.net/assets/images/Landmarks.png"></ion-img>
          </ion-avatar>
          <ion-text>
            LandMarks
          </ion-text>
          <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://dev-veenme.thesupportonline.net/assets/images/Historical.png"></ion-img>
          </ion-avatar>
          <ion-text>
            Historical
          </ion-text>
          <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://dev-veenme.thesupportonline.net/assets/images/Nature.png"></ion-img>
          </ion-avatar>
          <ion-text>
            Nature
          </ion-text>
          <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="accessibility"></ion-icon>
        Activities
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let activity of activities">
          <ion-avatar slot="start">
            <ion-img [src]="'https://dev-veenme.thesupportonline.net/' + activity.icon "></ion-img>
          </ion-avatar>
          <ion-text>
            {{activity.title}}
          </ion-text>
          <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="image"></ion-icon>
        Upload Photo
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-row>
          <ion-col size="12">
              <ion-img style="height: 75px;" src="https://dev-veenme.thesupportonline.net/static/media/UploadIcon.1cedb6e9.svg"></ion-img>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-text-center">
          Max file size: 20mb, accepted jpeg | gif | png
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="12">
          <ion-button color="tertiary" shape="round" expand="block">
            Choose Images
          </ion-button>
        </ion-col>
      </ion-row>


    </ion-card-content>
  </ion-card>
</ion-content>