<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="close()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content #content>

  <ion-card>
    <ion-img [src]="mapimage"></ion-img>
    <ion-card-header>
      <ion-card-title>{{item?.location}}</ion-card-title>
      <ion-card-subtitle>{{detail?.post_count}} Posts | {{detail?.reviews?.length}} Reviews</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-list>

    <ion-item>
      <ion-label>
        <h2>Reviews</h2>
      </ion-label>
      <ion-button slot="end" size="small" fill="outline">Add a Review</ion-button>
    </ion-item>

    <div *ngFor="let item of reviews">
      <ion-item lines="none">
        <ion-avatar class="ion-margin-end">
          <img [src]="item.profile_image">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h2>{{item.fname}} {{item.lname}}</h2>
          <p>{{item.place}}</p>
          <p>Review: {{item.review}}</p>
        </ion-label>
      </ion-item>
      <ion-grid>

        <ion-row size="12">
          <ion-col size="6">
            <div style="margin-left: 10px;">
              <ion-icon *ngFor="let n of [1,2,3,4,5]" [name]="item.rating <= n ? 'star-outline' : 'star'"
                [color]="item.rating <= n ? 'tertiary' : ''   "></ion-icon>
            </div>
          </ion-col>

          <ion-col size="6">
            <ion-label>
              <span class="date-span">{{ item.created | date: 'shortTime'}}</span>
            </ion-label>
          </ion-col>

        </ion-row>

      </ion-grid>

    </div>



  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Related Posts</h2>
      </ion-label>
      <ion-button slot="end" size="small" fill="outline">Add a Post</ion-button>
    </ion-item>



  </ion-list>

  <div *ngFor="let item of list">
    <ion-item lines="none">
      <ion-avatar class="ion-margin-end">
        <img [src]="item.user_profile_image">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2>{{item.full_name}}</h2>
        <p>{{item.activity}} : {{item.location}}</p>
      </ion-label>
    </ion-item>
    <ion-card *ngIf="item.files && item.files.length > 0">
      <ion-img [src]="item.files[0].filepath"></ion-img>
    </ion-card>
    <ion-grid class="ion-margin-start section-box">
      <ion-row>
        <ion-col size="2">
          <ion-icon name="heart-outline"></ion-icon>
          <p>{{item.like_count}}</p>
        </ion-col>
        <ion-col size="2" (click)="openComments(item)">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <p>{{item.comment_count}}</p>
        </ion-col>
        <ion-col>
          <p>{{ item.created | date: 'shortTime'}}</p>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>
