<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="close()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img [src]="item.filepath"></ion-img>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let item of list">
      <ion-avatar>
        <h2 style="margin: 3px">{{item.avatar}}</h2>
      </ion-avatar>
      <ion-label>
        <p>{{item.name}}</p>
      </ion-label>
      <ion-icon slot="end" name="heart-outline"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-item class="comment-input">
    <ion-input type="text" [(ngModel)]="comment"></ion-input>
    <ion-button size="small" slot="end" fill="secondary" (click)="addComment()">Send</ion-button>
  </ion-item>
</ion-footer>
