<header [title]="'Messages'"></header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>No Messages Yet</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
