<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reviews</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list >

    <div *ngFor="let item of list">
      <ion-item lines="none">
        <ion-avatar slot="end" class="ion-margin-end">
          <img [src]="item.user_profile_image">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h2>{{item.full_name}}</h2>
          <p>{{item.place}}</p>
          <p>Review: {{item.review}} - <span class="date-span">{{ item.created | date: 'shortTime'}}</span></p>
        </ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <div style="margin-left: 10px;">
              <ion-icon *ngFor="let n of [1,2,3,4,5]" [name]="item.rating <= n ? 'star-outline' : 'star'" [color]="item.rating <= n ? 'tertiary' : ''   "></ion-icon>
            </div>


          </ion-col>

        </ion-row>


      </ion-grid>


    </div>


  </ion-list>

</ion-content>
