<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home-page">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="reviews">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Reviews</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gallery">
      <ion-icon name="images"></ion-icon>
      <ion-label>Gallery</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="places">
      <ion-icon name="navigate"></ion-icon>
      <ion-label>Places</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
