<header [title]="'Gallery'"></header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of list" (click)="openComments(item)">
        <ion-img [src]="item.filepath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
