<header [title]="'Home'"></header>

<ion-content>

  <ion-list >

    <div *ngFor="let item of list">
      <ion-item lines="none">
        <ion-avatar class="ion-margin-end">
          <img [src]="item.user_profile_image">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h2>{{item.full_name}}</h2>
          <p>{{item.activity}} : {{item.location}}</p>
        </ion-label>
      </ion-item>
      <ion-card *ngIf="item.files && item.files.length > 0">
        <ion-img [src]="item.files[0].filepath"></ion-img>
      </ion-card>
      <ion-grid class="ion-margin-start section-box">
        <ion-row>
          <ion-col size="2" (click)="itemLikeToggled(item)">
            <ion-icon [name]="item.is_like ? 'heart' : 'heart-outline'"></ion-icon>
            <p>{{item.like_count}}</p>
          </ion-col>
          <ion-col size="2" (click)="openComments(item)">
            <ion-icon name="chatbubble-outline"></ion-icon>
            <p>{{item.comment_count}}</p>
          </ion-col>
          <ion-col>
            <p>{{ item.created | date: 'shortTime'}}</p>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>


  </ion-list>

</ion-content>
