<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="close()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of list">
      <ion-avatar>
        <img style="margin: 3px" [src]='item.user_profile_image'/>
      </ion-avatar>
      <ion-label style="margin-left: 15px;"> 
        <h2>{{item.user_name}}</h2> 
        <p>{{item.text}}</p>
      </ion-label>
      <ion-label slot="end">
        <ion-icon (click)="likeUnlikeComment(item)" [name]="item.is_like ? 'heart' : 'heart-outline'"></ion-icon>
        <p style="text-align: center">{{item.like_count}}</p>
      </ion-label>
      
    </ion-item>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-item class="comment-input">
    <ion-input type="text" [(ngModel)]="comment" placeholder="Type Comment..."></ion-input>
    <ion-button size="small" slot="end" fill="secondary" (click)="addComment()">
      <ion-icon color="secondary" name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
